@page
@model CreateModel4

@{
    ViewData["Title"] = "Add User";
}

<partial name="_StatusMessage" for="StatusMessage" />

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">

    <div class="col-md-4">

        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" value="testing@gmail.com" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" value="Abc@123" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" value="Abc@123" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label> Select User Roles</label>
                @if (Model.AllRolesList.Count<SelectListItem>() > 0)
                {
                    @foreach (var role in Model.AllRolesList)
                    {
                        <span class="checkbox">
                            <label>
                                <input type="checkbox" name="SelectedRoles" value="@role.Text" checked="@role.Selected" />
                                @role.Text
                            </label>
                        </span>
                    }
                }
                else
                {
                    <label> No roles exist</label>
                }
            </div>



            <div class="form-group">
                <label> Select User Claims</label>
                @if (Model.AllClaimsList.Count<SelectListItem>() > 0)
                {
                    @foreach (var claim in Model.AllClaimsList)
                    {
                        <span class="checkbox">
                            <label>
                                <input type="checkbox" name="SelectedClaims" value="@claim.Text" checked="@claim.Selected" />
                                @claim.Value
                            </label>
                        </span>
                    }
                }
                else
                {
                    <label> No claims exist</label>
                }
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-page="Index">Back to List</a>
            </div>

        </form>

    </div>
</div>


@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
