@page
@model EditModel

@{
    ViewData["Title"] = "Edit User";
}

<partial name="_StatusMessage" for="StatusMessage" />

<h1>@ViewData["Title"]</h1>

<hr />

<div class="row">

    <div class="col-md-12">

        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Input.Id" />

            <div class="form-group">
                <label asp-for="Username" class="control-label col-md-4"></label>
                <input asp-for="Username" class="form-control col-md-4" disabled />
            </div>

            <div class="form-group">
                <label asp-for="Input.FirstName" class="control-label col-md-4"></label>
                <input asp-for="Input.FirstName" class="form-control col-md-4" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.LastName" class="control-label col-md-4"></label>
                <input asp-for="Input.LastName" class="form-control col-md-4" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Input.Email" class="control-label col-md-4"></label>
                <input asp-for="Input.Email" class="form-control col-md-4" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Password" class="control-label col-md-4"></label>
                <input asp-for="Input.Password" value="Abc@123" class="form-control col-md-4" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="control-label col-md-4"></label>
                <input asp-for="Input.ConfirmPassword" value="Abc@123" class="form-control col-md-4" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Input.Department" class="control-label col-md-4"></label>
                <input asp-for="Input.Department" class="form-control col-md-4" />
                <span asp-validation-for="Input.Department" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label> Select User Roles</label>
                @if (Model.Input.AllRolesList.Count() > 0)
                {
                    for (int i = 0; i < Model.Input.AllRolesList.Count; i++)
                    {
                        @*@Html.HiddenFor(m => m.Input.AllRolesList[i].RoleId)
                    @Html.HiddenFor(m => m.Input.AllRolesList[i].RoleName)
                    @Html.CheckBoxFor(m => m.Input.AllRolesList[i].IsSelected, new { @class = "form-check-input" })
                    <label>  @Model.Input.AllRolesList[i].RoleName </label>*@

                        <input hidden asp-for="@Model.Input.AllRolesList[i].RoleId" />
                        <input hidden asp-for="@Model.Input.AllRolesList[i].RoleName" />

                        <span class="checkbox">
                            <label>
                                <input asp-for="@Model.Input.AllRolesList[i].IsSelected" />
                                @Model.Input.AllRolesList[i].RoleName
                            </label>
                        </span>

                    }
                }
                else
                {
                    <label> No roles exist</label>
                }
            </div>


            <div class="form-group">
                <label> Select User Claims</label>

                @if (Model.Input.AllClaimsList.Count() > 0)
                {
                    for (int i = 0; i < Model.Input.AllClaimsList.Count; i++)
                    {
                        @*@Html.HiddenFor(m => m.Input.AllClaimsList[i].ClaimType)
                    @Html.HiddenFor(m => m.Input.AllClaimsList[i].ClaimValue)
                    @Html.CheckBoxFor(m => m.Input.AllClaimsList[i].IsSelected, new { @class = "form-check-input" })
                    <label>  @Model.Input.AllClaimsList[i].ClaimType </label>*@

                        <input hidden asp-for="@Model.Input.AllClaimsList[i].ClaimType" />
                        <input hidden asp-for="@Model.Input.AllClaimsList[i].ClaimValue" />

                        <span class="checkbox">
                            <label>
                                <input asp-for="@Model.Input.AllClaimsList[i].IsSelected" />
                                @Model.Input.AllClaimsList[i].ClaimType
                            </label>
                        </span>

                    }
                }
                else
                {
                    <label> No claims exist</label>
                }
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-page="./Index">Back to List</a>
            </div>

        </form>

    </div>

</div>


@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
