@page
@model AddUsersToRoleModel

@{
    ViewData["Title"] = "Add Users to Role : " + Model.Input.Name;
}

@*Edit 5 Screen is Linked to this screen.
This screen Add Users to Role*@


<partial name="_StatusMessage" for="StatusMessage" />

<h1>@ViewData["Title"]</h1>

<hr />

<div class="row">

    <div class="col-md-12">

        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Input.Id" />
            <input type="hidden" asp-for="Input.Name" />

            <div class="col-md-5">
                <dl class="row">

                    <dt class="col-md-2">
                        @Html.DisplayNameFor(model => model.Input.Name)
                    </dt>

                    <dd class="col-md-3">
                        @Html.DisplayFor(model => model.Input.Name)
                    </dd>

                </dl>
            </div>

            <div class="col-md-5">

                <table class="table table-bordered table-hover">

                    <thead>
                        <tr>
                            <th>Users in Role</th>
                        </tr>
                    </thead>

                    @if (Model.Input.AllUsersList.Count <= 0)
                    {
                        <tr>
                            <td>
                                No User found in system.
                            </td>
                        </tr>
                    }
                    else
                    {
                        @for (int i = 0; i < Model.Input.AllUsersList.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input hidden asp-for="@Model.Input.AllUsersList[i].UserId" />
                                    <input hidden asp-for="@Model.Input.AllUsersList[i].UserName" />

                                    <span class="checkbox">
                                        <label>
                                            <input asp-for="@Model.Input.AllUsersList[i].IsSelected" />
                                            @Model.Input.AllUsersList[i].UserName
                                        </label>
                                    </span>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>

            <div class="form-group col-md-5">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Edit5" asp-route-id="@Model.Input.Id" class="btn btn-primary">Back</a>
                <a asp-page="./Index" class="btn btn-primary">Back to List</a>
            </div>

        </form>


    </div>

</div>


@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
