@page
@model DeleteListModel

@{
    ViewData["Title"] = "Roles List";
}

@*Multiple Roles Delete Operation by Check Box List in One Step*@

<partial name="_StatusMessage" for="StatusMessage" />

<h1>@ViewData["Title"]</h1>

@{
    if (Model.Input.Count() <= 0)
    {
        <p>No Role Found</p>
        return;
    }
}

<form method="post">

    <p>
        <button type="submit" class="btn btn-danger js-submit">Delete Roles</button>
    </p>

    <table class="table table-bordered table-hover">

        <thead>
            <tr>
                <th>
                    <input type="checkbox" class="selectall" id="selectall" value="false" />
                    Roles
                </th>
            </tr>
        </thead>

        <tbody id="rolestable">

            @for (int i = 0; i < Model.Input.Count(); i++)
            {
                <tr>
                    <td>
                        <input hidden asp-for="@Model.Input[i].Id" />
                        <input hidden asp-for="@Model.Input[i].Name" />
                        <span class="checkbox">
                            <label>
                                <input asp-for="@Model.Input[i].IsSelected" />
                                @Model.Input[i].Name
                            </label>
                        </span>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <span id="role_delete_error" style="display:none" class="text-danger field-validation-error" data-valmsg-replace="true">
        Please select any role to delete.
    </span>

    <div style="margin:5px">&nbsp;</div>

    <p>
        <button type="submit" class="btn btn-danger js-submit">Delete Roles</button>
    </p>

</form>


@section Scripts {

    <script src="~/js/ConfirmDelete.js"></script>

    <script>

        $(document).ready(function () {





            $(".js-submit").on("click", function (e) {

                var isAnyCheckBoxChecked = false;

                // all input elements within root tag
                //var checkBoxes = document.getElementById("hobbytable").getElementsByTagName("input");
                //var checkBoxes = $("#hobbytable input"); // all input elements within root tag
                //var checkBoxes = $("#hobbytable").find("input"); // all input elements within root tag
                var checkBoxes = $("#rolestable input[type='checkbox']");

                //alert(checkBoxes.length);

                for (var i = 0; i < checkBoxes.length; i++) {
                    if (checkBoxes[i].type == "checkbox") {
                        if (checkBoxes[i].checked) {
                            isAnyCheckBoxChecked = true;
                            break;
                        }
                    }
                }

                if (!isAnyCheckBoxChecked) {

                    e.preventDefault();// stop form processing by post back

                    // either show following messeage or show bootbox dialog
                    //$('#role_delete_error').show();

                    //// either show following messeage or show bootbox dialog
                    bootbox.alert({
                        message: "Please select any role to delete.",
                        size: 'small',
                        backdrop: true,
                        centerVertical: true,
                        callback: function () {

                        }
                    });

                }
                else {
                    //// either show following messeage or show bootbox dialog
                    //$('#role_delete_error').hide();
                }

                //e.preventDefault();
                // $("p").hide();
                // $("p").show();
                //document.getElementById("userinfo").style.display="block";
                //document.getElementById("userinfo").style.display="none";
                //$('#danceforme').hide();
                // $('#danceforme').show();


            });


            $("#selectall").click(function () {

                //this is a reference to the html DOM element that is the source of the event.
                //$(this) is a jQuery wrapper around that element that enables usage of jQuery methods.

                 /////////////// solution one //////////////////////
                var checkBoxes = $("#rolestable input[type='checkbox']");

                for (var i = 0; i < checkBoxes.length; i++) {
                    if (checkBoxes[i].type == "checkbox") {
                        if (this.checked) { checkBoxes[i].checked = true; }
                        else { checkBoxes[i].checked = false; }
                    }
                }
                /////////////// solution one //////////////////////


                /////////////// solution two //////////////////////
                //if (this.checked) {
                //    $("#rolestable input[type='checkbox']").each(function () {
                //        this.checked = true;
                //    });
                //}
                //else {
                //    $("#rolestable input[type='checkbox']").each(function () {
                //        this.checked = false;
                //    });
                //}
                /////////////// solution two //////////////////////


            });


            $("#rolestable input[type='checkbox']").click(function () {

                var checkBoxes = $("#rolestable input[type='checkbox']");
                var selectallcheckbox = $("#selectall");
                var checkedcounter = 0;

                for (var i = 0; i < checkBoxes.length; i++) {
                    if (checkBoxes[i].type == "checkbox") {
                        if (checkBoxes[i].checked) { checkedcounter++; }
                    }
                }

                if (checkedcounter == checkBoxes.length) {
                    selectallcheckbox.prop("checked", true);
                }
                else {

                    selectallcheckbox.prop("checked", false);

                    //Javascript:====================================
                    //document.getElementById("checkbox").checked = true;//// Check
                    //document.getElementById("checkbox").checked = false;//// Uncheck

                    //jQuery(1.6 +): ================================
                    //$("#checkbox").prop("checked", true);//// Check
                    //$("#checkbox").prop("checked", false);//// Uncheck
                    //$(this).prop("checked", checked);
                    //$('#your-checkbox').prop('checked', value == 1);

                    //jQuery(1.5 -):=================================
                    //$("#checkbox").attr("checked", true);//// Check
                    //$("#checkbox").attr("checked", false); //// Uncheck
                    //selectallcheckbox.removeAttr("checked");
                    //selectallcheckbox.attr("checked", "checked");
                }

            });

        });



        //($('input:checkbox[name=checkme]').is(':checked'));
        //$('input:checkbox[name=checkme]').attr('checked',true);
        //$('input:checkbox[name=checkme]').attr('checked',false);


        //$('#chkSelectAll').click(function () {
        //    if ($(this).is(':checked')) {
        //        $('.grpCheck> input[type=checkbox]').each(function () {
        //            $(this).prop("checked", true); $('#sel').text('Un-Select All');
        //        });
        //    }
        //    else {
        //        $('.grpCheck input[type=checkbox]').each(function () {
        //            $(this).prop("checked", false); $('#sel').text('Select All');
        //        });
        //    }
        //});



     //Check if the checkbox is checked
     //There are several ways to get to work out if a checkbox is checked or not with jQuery,
     //and here a couple of alternatives.Each will return true if it’s checked or false if it’s not.

     //$('input[name=foo]').is(':checked')
     //$('input[name=foo]').attr('checked')
     //if ($(this).is(':checked'))

    //$(document).ready(function () {
    //    $("button").click(function () {
    //        var favorite = [];
    //        $.each($("input[name='sport']:checked"), function () {
    //            favorite.push($(this).val());
    //        });
    //        alert("My favourite sports are: " + favorite.join(", "));
    //    });
    //});


    </script>


}