@page
@model EditModel

@{
    ViewData["Title"] = "Edit Role";
}

<partial name="_StatusMessage" for="StatusMessage" />

<h1>@ViewData["Title"]</h1>

<hr />

<div class="row">

    <div class="col-md-12">

        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Input.Id" />

            <div class="form-group">
                <label asp-for="Input.Name" class="control-label col-md-5"></label>
                <input asp-for="Input.Name" class="form-control col-md-5" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>


            @if (Model.Input.AllUsersList.Count <= 0)
            {
                <hr />
                <p>No User exist.</p>
                <hr />
                return;
            }

            @if (Model.Input.AllUsersList.Count <= 0)
            {
                <hr />
                <p>No Users found in this Role.</p>
                <hr />
            }
            else
            {
                <table class="table table-bordered table-hover col-md-5">

                    <thead>
                        <tr>
                            <th>Users in Role</th>
                        </tr>
                    </thead>

                    @for (int i = 0; i < Model.Input.AllUsersList.Count; i++)
                    {
                        <tr>
                            <td>
                                <input hidden asp-for="@Model.Input.AllUsersList[i].UserId" />
                                <input hidden asp-for="@Model.Input.AllUsersList[i].UserName" />

                                <span class="checkbox">
                                    <label>
                                        <input asp-for="@Model.Input.AllUsersList[i].IsSelected" />
                                        @Model.Input.AllUsersList[i].UserName
                                    </label>
                                </span>
                            </td>
                        </tr>
                    }

                </table>
            }

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-page="./Index">Back to List</a>
            </div>

        </form>


    </div>

</div>


@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
