@page
@model AppTemplateCore.Areas.Persons.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Country.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.HobbyID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.HobbyID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Religion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Religion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Province)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Province)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.ConfirmPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.ConfirmPassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.ConfirmEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.ConfirmEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.CreditCard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.CreditCard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Fees)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Fees)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PostedFile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PostedFile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Age2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Age2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Remarks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.WebSite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.WebSite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.HiddenField)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.HiddenField)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Person.PersonID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
