@page
@model AppTemplateCore.Areas.Persons.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].HobbyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Religion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].ConfirmPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].ConfirmEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].CreditCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Fees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].PostedFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Age2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].WebSite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].HiddenField)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Person) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HobbyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Religion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedFile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebSite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiddenField)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PersonID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PersonID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PersonID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
